@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat



<h4>Add a new treat</h4>
<br>
@using (Html.BeginForm())
{
  <span>Treat Name: @Html.TextBoxFor(model => model.TreatName, new { required = "required" })</span>
  <br><br>
  <span>Description: @Html.TextBoxFor(model => model.Description)</span>
  <br>




  <input type="submit" value="Add new treat" class="btn btn-default"/>
}
<p>@Html.ActionLink("Show all treats", "Index")</p>